<h1>Userinfo</h1>

<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <h3 class="profile-name"><%= @user.introduction %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
</div>

<% @books.each do |book| %>
  <%= link_to book.title, book_path(book) %>
<% end %>

<% if @user.id == current_user.id %>
  <p><%= link_to "Edit profile", edit_user_path(@user), class: "pull-right" %></p>
<% end %>