<p>show</p>
<p><%= @book.title %></p>
<p><%= @book.body %></p>


<%= link_to "edit", edit_book_path(@book) %>

<% if @book.user == current_user %>
  <%= link_to "delete", book_path(@book), method: :delete %>
<% end %>

<%= link_to "back", root_path %>