<br/>
<h2>Log in</h2>

  <%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, id:"inputEmail", placeholder:"メールアドレス"%>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", id:"inputPassword", placeholder:"パスワード" %>
    </div>
    <%= f.submit "サインイン" %>
  <% end %>

<%= render "devise/shared/links" %>
